<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="data:;base64,=">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<link rel="stylesheet" href="isembb.css">
    
    <title>singleuser</title>
</head>
<style type="text/css">
	html, body {
		font-family: sans-serif;
	}
	.controls {
		margin: 1em 0;
	}
	#text {
		width: 90%;
	}
	#output_text {
		cursor: copy;
		font-family: monospace;
		-webkit-font-smoothing: none;
		font-smooth: never;
		text-rendering: optimizeSpeed;
		line-height: 1.1;
		white-space: nowrap;		
	}
	/* Fix for monospace fonts where the space is not the same width as the block characters */
	#output_text span {
		display: inline-block;
		width: 1ch;
	}
	#output_img, #output_svg {
		cursor: copy;	
	}
	#output_img img, #output_svg svg {
		max-width: 50vw;
	}
	</style>

<body >
	
	
<div style="margin-bottom: -70px;">
            <div class="container" id="html-content-holder" >
				<v style="display: block;justify-content: center; width:450px;margin-top: 9.7rem;" class="conti">
					<div style="justify-content: center;text-align: center;">
						<div style="padding: 35px 10px;background-color: transparent;height: 12rem;;
						min-width: 10.5rem;background: rgba(255, 255, 255, 0.1);box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
						border-radius: 10px;justify-self: center;margin-bottom: 2.8rem;margin-left: 125px;margin-top: 2.9rem;"><img style="margin-top: -3.2rem;justify-self: center;height: 13rem;width: 11.3rem;border-radius: 10px;" src="<%=Picturepath%>" >
						</div>
			</div>
				<div style="justify-content: center;text-align: center;margin-bottom: -20px;">
					
					<h1 style="color:black;text-align:center;margin-bottom:7px;margin-top: -20px; line-height:2rem;font-size: 2rem;font-weight: bolder;margin-left: 8rem;font-family: 'Poppins', sans-serif;"><%=Name%> </h1>
					<div style="display: flex;justify-self: center;justify-content: center;">
					<h2 style="color:black;text-align:center;margin-bottom:-0px;line-height:2rem;font-size: 1.4rem;font-weight: bolder;margin-top: -10px;margin-left: 120px;"><div id="middle"></div></h2> 
					<h2 style="color:black;text-align:center;margin-bottom:-0px;line-height:2rem;font-size: 1.4rem;font-weight: bolder;margin-top: -10px;margin-left: 10px;"> <%=Surname%></h2>
				    </div>
					<h1 style="margin-top:1px;margin-bottom:0px;line-height:1rem;color: rgb(4, 65, 27);font-size: 22px;margin-left: 120px;font-family: 'Poppins', sans-serif;">>>>STUDENT<<<</h1>
				</div>
				  <img style="height: 110px;width: 110px;margin-left: 13.3rem;margin-top: 2.6rem;" id="output_img">	
			</div>

		</div>
				<div class="profile-bottom" style="margin-bottom:35px;width: 200px;justify-content: center;justify-self: center;";>
					    <div class="profile-info hover" class="btn-download " id="btn_convert" style="background-color: rgb(27, 27, 97);color: white;">
							<div class="hover" style="margin-left: 0px;align-items: center;width: 100%;text-align: center;justify-self: center;" >
								<h1>Download</h1>
								<div id="previewImg" style="display: none"></div>
							</div>              
						</div>                          
				</div>
			
	
		
		
   <script type="module">
    import QrCode from '/qrcode.mjs' ;

	const ecl = 'L+';
		const qrOptions = {
			errorCorrectionLevel: QrCode.ErrorCorrectionLevel[ecl[0]],
			optimizeEcc: ecl.includes('+'),
		};
		
	
   const matrix = QrCode.generate('https://isemb.mydatabase.com.ng/'+numberinput,qrOptions);
   const uri = QrCode.render('bmp-uri', matrix);
    document.querySelector('#output_img').src = uri;
   </script>
  
	</script>
	<script>
	const middle = document.getElementById('middle');
    const numberinput = JSON.parse('<%- JSON.stringify(id)%>');
	const mdname = JSON.parse('<%- JSON.stringify(Mname)%>');
	const mdnamee = mdname.substring(0, 1)+'.'
	console.log(mdnamee)
	middle.innerHTML = mdnamee
	</script>
   <script>

   let name = JSON.parse('<%- JSON.stringify(Name)%>');

   document.getElementById("btn_convert").addEventListener("click", function () {
	html2canvas(document.getElementById("html-content-holder"), {
		allowTaint: true,
		useCORS: true,
	}).then (function (canvas) {
		var link = document.createElement("a");
		document.body.appendChild(link);
		document.getElementById("previewImg").appendChild(canvas);
		link.download = "ISEMB/"+ name +".png";
		link.href = canvas.toDataURL();
		link.target = "_blank";
		link.click();
	});
 });
   </script>
</body>
</html>

